.logo_icon{
    color: #2BACE2 !important;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px;
}
.technology_icon {
    height: 80px;
    border: 2px solid;
    border-radius: 50%;
    padding: 12px;
    margin: 4px 13px;
}
.contact_icon{
    height: 80px;
}
.client_icon{
    width:100px;
}
.web_application_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.web_application_feature_margin{
    margin: 10px 0px;
}
.mobile_application_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.mobile_application_feature_margin{
    margin: 10px 0px;
}
.qa_testing_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.qa_testing_feature_margin{
    margin: 10px 0px;
}
.graphics_solution_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.graphics_solution_feature_margin{
    margin: 10px 0px;
}
.seo_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.seo_feature_margin{
    margin: 10px 0px;
}
.online_data_security_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.online_data_security_feature_margin{
    margin: 10px 0px;
}
.erp_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.erp_feature_margin{
    margin: 10px 0px;
}
.accounts_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.accounts_feature_margin{
    margin: 10px 0px;
}
.inventory_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.inventory_feature_margin{
    margin: 10px 0px;
}
.sales_and_distribution_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.sales_and_distribution_feature_margin{
    margin: 10px 0px;
}
.crm_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.crm_feature_margin{
    margin: 10px 0px;
}
.hr_and_payroll_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.hr_and_payroll_feature_margin{
    margin: 10px 0px;
}
.e_commerce_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.e_commerce_feature_margin{
    margin: 10px 0px;
}
.booking_and_reservation_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.booking_and_reservation_feature_margin{
    margin: 10px 0px;
}
.virtual_class_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.virtual_class_feature_design{
    margin: 10px 0px;
}
.career_details_design{
    font-size: 25px;
    line-height: 30px;
    font-family: inherit;
}
.icon_feature{
    width : 70px;
}
.footer_link{
    margin-right: 5px;
}
.services_banner{
    margin-top: 80px;
    width: 100%;
}
.drop_down_nav_bar{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 2px;
}
.navbar-light .navbar-nav .nav-link{
    color: #2BACE2 !important;
}
.drop_down_item_color{
    color: #2BACE2 !important;
}
/*social media start here*/
#fixed-social {
    position: fixed;
    top: 40%;
}

#fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
}
#fixed-social a:hover>span{
    visibility: visible;
    left: 41px;
    opacity: 1;
}
#fixed-social a span {
    line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}

.fixed-facebook span{
    background-color: #77A2D4;
}
.fixed-twitter span{
    background-color: #78A1D3;
}
.fixed-linkedin span{
    background-color: #78A1D3;
}
.fixed-instagrem span{
    background-color: #7D3895;
}
.fixed-pinterest span{
    background-color:#F07A7D;
}
/*end fixed social*/


